<f:format.html><f:translate key="emailmessage.regards_text" default="With best regards," />
{email.config.sender_name}

<f:translate key="emailmessage.autotext_notice" default="Notice: This is an automatic mail by our newsletter subscription service. But do not hesitate to contact me for any questions." />
<hr />
Kongress Media
Telefon +49 89 523 503 - 58
Fax +49 89 2000 1464
Email <f:link.email email="{email.config.sender_mail}">{email.config.sender_mail}</f:link.email>
<hr />
Veranstaltungen
<f:link.external uri="http://www.kongressmedia.de/veranstaltungen">http://www.kongressmedia.de/veranstaltungen</f:link.external>
Ver&ouml;ffentlichungen und Communities
<f:link.external uri="http://www.kongressmedia.de/portale">http://www.kongressmedia.de/portale</f:link.external>
</f:format.html>
Kongress Media GmbH<br />
Tegernseer Landstr. 29, 81541 München<br />
Geschäftsführer Thomas Koch, Björn Negelmann<br />
HRB M&uuml;nchen 161615 UST-ID.: DE247820298
