<br />
<f:translate key="emailmessage.intro.optout_mail" default="We have received a removal request from our newsletter service that we will proceed." /><br /> 
<br />
<f:translate key="emailmessage.main.optout_mail" default="We are sorry that we have lost your interest in our topics or have not met your expectations with our service." /><br />
<br />
<f:translate key="emailmessage.link_header.optout_mail" default="You can sign into our service again at any time by clicking the following link" />:<br />
<f:link.external uri="{email.subscription_dashboard_link}"><f:translate key="emailmessage.link_text.subscription_center" default="Access the Newsletter Subscription Panel" /></f:link.external><br />

