<br />
<f:translate key="emailmessage.intro.welcome_mail_header" default="Thank you for subscribing to our newsletter service. We hope that we will meet your expectations for  this service." /><br />
<br />
<f:translate key="emailmessage.welcome.subscription_center" default="If you wish to change your subscription at any time, you are free to use our newsletter subscription panel" />: <br />
<f:link.external uri="{email.subscription_dashboard_link}"><f:translate key="emailmessage.link_text.subscription_center" default="Access the Newsletter Subscription Panel" /></f:link.external><br />